@import "../reset.scss";

$메인칼라_빨간색: #ff0000;

.red {
  color: $메인칼라_빨간색;
}

.nav_deco {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.55);
}

.nav_deco2 {
  @extend .nav_deco;
  color: #000;
}

.my-alert {
  p {
    margin: auto;
  }
  background-color: #eeeeee;
  border-radius: 5px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.my-alert2 {
  @extend .my-alert;
  margin-top: 20px;
  background-color: #fbf1c2;
}

.wow-enter {
  opacity: 0;
}
.wow-enter-active {
  opacity: 1;
  transition: all 500ms;
}
