.App {
  text-align: center;
}

.jumbotron {
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  padding: 50px 0px;
  color: #fff;
  background-image: url("/src/background.jpg");
  background-size: cover;
}

.jumbotron > div {
  width: 95%;
  margin: auto;
}

.nav_deco {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.55);
}
